# Python
__pycache__/
*.pyc
.venv/

# Env
.env
!.env.example
!.env.test

# uv
uv.lock.bak

# IDE
.idea/
.vscode/

# Testing / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# OS
.DS_Store
